<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />

  <!-- Provide an image for tumbnails link sharing  
    From answer of stackoverflow's user: https://stackoverflow.com/a/43154489
  -->
  <meta name="description" content="Alejo is a software engineer who writes about code, software design and his life as software developer.">  
  <meta property="og:description" content="Alejo is a software engineer who writes about code, software design and his life as software developer.">
  <meta property="og:title" content="Alejo's blog" />
  <meta property="og:url" content="https://alejogtz.github.io/blog/" />
  <meta property="og:image" content="https://i.imgur.com/KmtYHZF.png">
  <meta property="og:type" content="article" />





  <title>
    {%- if page.title -%}
      {{ page.title }}
    {%- else -%}
      {{ site.title }}
    {%- endif -%}
  </title>

  {%-seo title=false-%}
  {%-feed_meta-%}

  <link rel="shortcut icon" type="image/x-icon" href="{{ site.favicon | relative_url }}" />
  <link rel="stylesheet" href="{{ "/assets/css/main.css" | relative_url }}" />

  <!-- <link rel="stylesheet" href="https://unpkg.com/basscss@8.0.2/css/basscss.min.css" /> -->
</head>