---
layout: default
---
<header>
  <h1>{{ site.description }}</h1>
  {%-if site.theme_config.show_description-%}
    <p>{{ site.description }}</p>
  {%-endif-%}
</header>

{%-include menu_item.html collection=site.data.menu.entries-%}

{{ content }}

<!-- <footer class="clearfix absolute col-12 left-0 bottom-0">
  <ul class="flex flex-row items-center justify-center list-reset">
    <li class="border m2">Facebook</li>
    <li class="border m2">Twitter</li>
    <li class="border m2">Instagram</li>
  </ul>
</footer> -->